@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.container-login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-login form{
    margin-left: auto;
    padding:15%;
    padding-top: 10%;
    text-align: center;
}
.container-login form .input-with-icons{
    border-bottom: 2px #B064FF solid;
}
.container-login form div input{
    display: block;
    padding: 10px;
    margin-bottom: 2px;
    border: none;
    width: 25vw;
}
.container-login form h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
.container-login form button{
    padding: 10px;
    width: 25vw;
    margin-top: 5px;
    background-color: #B064FF;
    text-decoration: none;
    border:none;
    color:white;
    border-radius: 20px;
    cursor: pointer;
}
.container-login form div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container-login form div a{
    text-decoration:none;
    margin: 10px;
    color:#696969;
    font-family: sans-serif;
}
.return{
    display: flex;
    margin-top: 5px;
}
.notification{
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: #B064FF;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    animation: move 10s;
    text-align: center;
    color:#fff;
    font-family: sans-serif;
}
@keyframes move{
    0%   {top: -50px;opacity: 0;}
    50%  {top: 0px;opacity:1}
    100% {top: -50px;opacity: 0;}
}


@media (max-width:700px){
    .container-login{
        margin-top: 130px;
    }
    .container-login form div input{
        width: 60vw;
    }
    .container-login form button{
        width: 60vw;
    }
    .container-login form div a{
        font-size: 12px;
    }
}
@media (max-width:1000px){
    .container-login form{
        background: #fff;
        border-radius: 8px;
        transition: all 0.8s;
        box-shadow:2px 8px 50px rgb(0, 0, 0,0.5);
    }   
}