@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container form{
    margin-left: auto;
    padding:15%;
    text-align: center;
}
.container form .input-with-icons{
    border-bottom: 2px #B064FF solid;
}
.container form div input{
    display: block;
    padding: 10px;
    margin-bottom: 2px;
    border: none;
    width: 25vw;
}
.container form h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
.container form button{
    padding: 10px;
    width: 25vw;
    margin-top: 5px;
    background-color: #B064FF;
    text-decoration: none;
    border:none;
    color:white;
    border-radius: 20px;
    cursor: pointer;
}
.container form div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container form div a{
    text-decoration:none;
    margin: 10px;
    color:#696969;
    font-family: sans-serif;
}