.content-not-found{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-not-found section{
    margin-left: auto;
    display: block;
}
.content-not-found section h1{
    display: block;
    font-size: 200px;
    margin-left: auto;
    margin-right: 50px;
    color: #B064FF;
    font-family: sans-serif;
    text-shadow:0px 8px 2px rgba(0,0,0,0.2);
    position: relative;
}
.content-not-found p{
    font-family: sans-serif;
    color:#696969;
}
.content-not-found a{
    text-decoration:none;
    margin-left: 10px;
    color:#696969;
    font-family: sans-serif;
}
.return-404{
    display: flex;
    margin-top: 5px;
    justify-content: center;
}
