@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.container-register{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-register form{
    margin-left: auto;
    padding:15%;
    padding-top: 5%;
    text-align: center;
}
.container-register form .input-with-icons{
    border-bottom: 2px #B064FF solid;
}
.container-register form div input{
    display: block;
    padding: 10px;
    margin-bottom: 2px;
    border: none;
    width: 25vw;
}
.container-register form h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
.container-register form button{
    padding: 10px;
    width: 25vw;
    margin-top: 5px;
    background-color: #B064FF;
    text-decoration: none;
    border:none;
    color:white;
    border-radius: 20px;
    cursor: pointer;
}
.container-register form div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container-register form div a{
    text-decoration:none;
    margin: 10px;
    color:#696969;
    font-family: sans-serif;
}

@media (max-width:700px){
    .container-register{
        margin-top: 60px;
    }
    .container-register form div input{
        width: 60vw;
    }
    .container-register form button{
        width: 60vw;
    }
    .container-register form div a{
        font-size: 12px;
    }
}
@media (max-width:1000px){
    .container-register form{
        background: #fff;
        border-radius: 8px;
        transition: all 0.8s;
        box-shadow:2px 8px 50px rgb(0, 0, 0,0.5);
    }   
}