body{
    background: url("./assets/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 !important;
}
@media (max-width:700px){
    body{
        background: url("./assets/Background-portrait.png");
    }
}