.container-index{
    background-color: #fff;
    width: 100%;
    height: 100vh;
}
.sidenav{
    height: 100%;
    width: 335px;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color: #b064ff;
    overflow-x: hidden;
}
.dropdown-btn{
    padding-left: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: flex;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    align-items: center;
}
.dropdown-container{
    padding-left: 100px;
    display: block;
}
.icon-chevron{
    margin-left: 10px;
}
#d-none{
    display: none;
}
#d-block{
    display: block;
}