.container-index{
    background-color: #fff;
    width: 100%;
    height: 85vh;
}
.sidenav{
    height: 100%;
    width: 335px;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color: #b064ff;
    overflow-x: hidden;
}
.dropdown-btn{
    padding-left: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: flex;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    align-items: center;
}
.dropdown-container{
    background-color: #A366E1;
    padding: 5px;
}
.dropdown-container a{
    text-decoration: none;
    display: block;
    justify-content: center;
    text-align: center;
    padding: 7px;
    font-family: sans-serif;
    color:#fff;
}
.icon-chevron{
    margin-left: 10px;
}
#d-none{
    display: none;
}
#d-block{
    display: block;
}

.container-main{
    display: block;
    justify-content: center;
    font-family: sans-serif;
}
.container-main p{
    font-size: 75px;
    margin-left: 650px;
    margin-top:100px;
    margin-bottom:0px;
}
.container-main span{
    font-size: 75px;
    margin-left: 720px;
    margin-top:150px;
    margin-bottom: 0;
}
.icon-ifatacadista{
    margin-left: 730px;
    margin-bottom: 0px;
    height: 230px;
    width: 230px;
    background-color: #696969;
}
.exit-button{
    position: absolute;
    right: 10px;
    top: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.exit-button p{
    font-size: 20px;
    color:#696969;
    font-family: sans-serif;
}